/*----------------------------------Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*----------------------------------Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #6d6d6d;
    font-family: 'Oswald', sans-serif;
}

/*----------------------------------Navbar Styling*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-bottom: 0.5px solid #000000;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}

.navbar-brand:hover {
    color: #ff7f7f;
    transform: scale(1.1);
}

.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after { 
    content: '';
    width: 30px;
    height: 3px;
    background-color: #333;
    display: block;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler-icon::after {
    top: 10px;
}

.collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav { 
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 2rem;
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 0.3rem 1rem;
    transition: background-color 0.4s, color 0.4s;
}

.nav-link:hover {
    background-color: #9c0000d8;
    color: #ffffff !important;
}
 
.ml-auto {
    margin-left: auto;
}

/*----------------------------------Header Styling */
header.jumbotron {
    position: relative;
    height: 50vh;
    background: url('/assets/images/las\ vegas.webp') no-repeat center center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header.jumbotron .container {
    position: relative;
    z-index: 1;
}

header.jumbotron h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

header.jumbotron p {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}


header.jumbotron .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: #9c0000d8;
    border-color: #9c0000d8;
}
 

/*----------------------------------Resposive styling for devices with 768px max-width*/
@media (max-width: 768px) {

.navbar-nav {
    flex-direction: column;
    width: 100%;
}

.nav-item {
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
}

.collapse {
    flex-direction: column;
}

header.jumbotron h1 {
    font-size: 2.5rem;
}

header.jumbotron p {
    font-size: 1.25rem;

}

header.jumbotron .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;

}

}